html, body{
  padding: 0;
  margin: 0;
  user-select: none;
}
*{
  box-sizing: border-box;
  position: relative;
}
body{
  background-color: #556;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.viewer{
  width: 100%;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}


.controls{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.1);
}
.controls .arrow{
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.1);
  color: #778;
}
.progress{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #778;
  font-weight: bold;
  font-family: Minecraft;
}
.progress__data{
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.progress__data div{
  padding: 0 15px;
}

/**
 * /MANGA
 */
.manga-items{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  overflow: auto;
  background: #445;
  padding: 15px;
}
.manga-item{
  display: flex;
  width: 100%;
  min-height: 70px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  background-color: #334;
  text-decoration: none;
  margin-bottom: 20px;
}
.manga-cover{
  width: 50px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.manga-title-wrapper{
  flex: 1;
}
.manga-title{
  padding-left: 15px;
  font-size: 22px;
  color: wheat;
  font-family: Minecraft;
  height: 100%;
  display: flex;
  align-items: center;
}


.chapter-item{
  text-decoration: none;
  width: 100%;
  padding: 10px 30px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  background-color: #334;
  margin-bottom: 5px;
  color: wheat;

  font-family: Minecraft;
}
.chapter-title{

}

@font-face {
  font-family: Minecraft;
  src: url(../fonts/Minecraft.ttf); 
}
