.files__modal *{
  box-sizing: border-box;
}


#load__modal{
  display: none;
}
.files__list {
  padding: 0;
  padding-bottom: 20px;
  overflow: auto;
}
.files__list li{
  color: #18c9a0;
  padding: 10px 0px;
  list-style-type: none;
  cursor: pointer;
  font-size: 24px;
}

.files__list li:hover{
  color: #31f7c9;
}

#save__modal{
  position: absolute;
  flex-direction: column;
  display: none;
  align-content: center;
  display: none;
}
#save__modal form{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#mcap__filename{
  width: 65%;
  height: 50px;
  padding: 10px 20px;
  font-size: 18px;
}
#mcap__save-btn{
  width: 33%;
  height: 50px;
  font-size: 20px;
}

#mc_plus{
  font-size: 32px;
}

#mc_minus{
  font-size: 32px;
}

.modal__close{
  display: flex;
  justify-content: flex-end;
  margin-right: -3px;
}

.files__modal{
  position: absolute;
  top: 50px;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  width: 500px;
  height: 100vh;
  padding: 10px 10px 10px 10px;


}
#save-list__modal{
  height: 78%;
}
#load-list__modal{
    height: 85%;
}
.tool__keyboard{
    font-size: 14px;
}

#LayerManagerList .layerManagerListItemDetails{
  height: auto !important;
}
.btn__layer{
    padding: 5px 10px;
    background: rgba(200,200,200,0.5);
    border-radius: 5px;  
    cursor: pointer;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}
}
.btn__layer:hover{
  background: rgba(200,200,200,0.7);
  color: #000;
}
#LayerManagerList .layerManagerListItemDetails .Design-sidebar-listitem{
 display: none !important;
}

.mcap__del-ctx{
    height: 40px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;  
}


#Colour .Design-sidebar-listitem p{
  width: 95%;
  padding-left: 20px;
}
#Snaps .Design-sidebar-listitem{
  padding-right: 0;
}
#Snaps .Design-sidebar-listitem p{
  min-width: 50%;
}
#PolarAngle{

}
#PolarAngle p{

   /* padding-left: 50px;*/
}
select#polarAngle{
  width: 50px;
}
.tools-2-wrapper{
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 445px;
  color: #999;
  border-radius: 4px 4px 0 0;
  padding: 15px 20px;
  background-color: rgba(0,0,0,0.7);
  box-sizing: border-box;
  user-select: none;
  justify-content: space-between;
  width: 100%;
  z-index: 9999;
}
.tools-2-wrapper *{
  box-sizing: border-box;
}

.tools-2{
  display: flex;
  padding-right: 5px;
  
}
.coords-data__coords{
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.coords-data__num{
  color: lightgreen;
  padding-right: 5px;
}


.tool.tool__keyboard{
  color: #999;
  cursor: pointer;
  height: 30px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 3px 5px;
  margin-right: 5px;
}

.tool.tool__keyboard:hover{
  border-color: #ccc;
}

.files__list li.cad-dir--common{
  color: skyblue;
}

/**
 * TEXT
 */

.coords-data__text{
  display: flex;
  position: relative;
}
.coords-data__size{
  margin-left: 5px;
}
.coords-data__input{
  outline: none;

  background-color: rgba(200,200,200,0.1);
  height: 30px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 3px 5px;
  margin-left: 5px;
  font-size: 16px;
  color: lightgreen;
}
.coords-data__arrow img{
  width: 20px;
  height: 20px;
}

.coords-data__btn{
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
}
.coords-data__btn:hover{

  filter: brightness(130%);
}
.coords-data__send img{
  width: 20px;
  height: 20px;
}
.coords-data__text-rotate-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.coords-data__text-rotate{
  transform: rotate(43deg);
}

.coords-data__size-set{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: -95px;
  right: -10px;
  /*display: flex;*/
  flex-wrap: wrap;
  width: 360px;
 
  border: 2px solid gray;
  padding: 2.5px;
  border-radius: 4px;
  display: none;
  /*transform: translate(-50%);*/
}
.coords-data__size-item{
  color: gray;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.2);
  width: 30px;
  height: 30px;
  margin: 2.5px;

}

.coords-data__size-item:hover{

  filter: brightness(130%);
  cursor: pointer;

}
.coords-data__chars-set{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: -132px;
  right: -10px;
  /*display: flex;*/
  flex-wrap: wrap;
  width: 115px;
  height: 115px;
  border: 2px solid gray;
  padding: 2.5px;
  border-radius: 4px;
  display: none;
}
.discord{
  position: relative;
}

.discord img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**
 * DISCORD POPUP
 */
.pop-up-discord{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: 100%;
  height: 100%;
  user-select: none;
  font-family: Consolas;
}
.pop-up-discord * {
  box-sizing: border-box;
}
.pop-up-discord__msg{
  padding: 20px;
  border-radius: 4px;
  background-color: white;
  font-size: 20px;
}
.pop-up-discord__text{

}
.pop-up-discord__btns{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.pop-up-discord__btn{
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  cursor: pointer;
  padding: 5px 10px;
  color: black;
  width: 150px;
  text-align: center;
}

.pop-up-discord__btn--no{
  background-color: #3066d1;
}
.pop-up-discord__btn--no:hover{
  background-color: #1151d1;
}
.pop-up-discord__btn--yes{
  background-color: #ff7066;

}
.pop-up-discord__btn--yes:hover{
  background-color: #fa2314;
}

.pop-up-discord__comment{
  padding-top: 20px;
}
.pop-up-discord__textarea{
  resize: none;
  width: 100%;
  height: 50px;
  outline: 0;
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 5px 10px;
}