.files__modal *{
  box-sizing: border-box;
}


#load__modal{
  display: none;
}
.files__list {
  padding: 0;
  padding-bottom: 20px;
  overflow: auto;
}
.files__list li{
  color: #18c9a0;
  padding: 10px 0px;
  list-style-type: none;
  cursor: pointer;
  font-size: 24px;
}

.files__list li:hover{
  color: #31f7c9;
}

#save__modal{
  position: absolute;
  flex-direction: column;
  display: none;
  align-content: center;
  display: none;
}
#save__modal form{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#mcap__filename{
  width: 65%;
  height: 50px;
  padding: 10px 20px;
  font-size: 18px;
}
#mcap__save-btn{
  width: 33%;
  height: 50px;
  font-size: 20px;
}

#mc_plus{
  font-size: 32px;
}

#mc_minus{
  font-size: 32px;
}

.modal__close{
  display: flex;
  justify-content: flex-end;
  margin-right: -3px;
}

.files__modal{
  position: absolute;
  top: 50px;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  width: 500px;
  height: 100vh;
  padding: 10px 10px 10px 10px;


}
#save-list__modal{
  height: 78%;
}
#load-list__modal{
    height: 85%;
}
.tool__keyboard{
    font-size: 14px;
}

#LayerManagerList .layerManagerListItemDetails{
  height: auto !important;
}
.btn__layer{
    padding: 5px 10px;
    background: rgba(200,200,200,0.5);
    border-radius: 5px;  
    cursor: pointer;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}
}
.btn__layer:hover{
  background: rgba(200,200,200,0.7);
  color: #000;
}
#LayerManagerList .layerManagerListItemDetails .Design-sidebar-listitem{
 display: none !important;
}

.mcap__del-ctx{
    height: 40px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;  
}


#Colour .Design-sidebar-listitem p{
  width: 95%;
  padding-left: 20px;
}
#Snaps .Design-sidebar-listitem{
  padding-right: 0;
}
#Snaps .Design-sidebar-listitem p{
  min-width: 50%;
}
#PolarAngle{

}
#PolarAngle p{

   /* padding-left: 50px;*/
}
select#polarAngle{
  width: 50px;
}
.tools-2-wrapper{
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 445px;
  color: #999;
  border-radius: 4px 4px 0 0;
  padding: 15px 20px;
  background-color: rgba(0,0,0,0.7);
  box-sizing: border-box;
  user-select: none;
}
.tools-2-wrapper *{
  box-sizing: border-box;
}

.tools-2{
  display: flex;
  padding-right: 5px;
}
.coords-data{
  font-size: 20px;

}
.coords-data__num{
  color: lightgreen;
}


.tool.tool__keyboard{
  color: #999;
  cursor: pointer;
  height: 30px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 3px 5px;
  margin-right: 5px;
}

.tool.tool__keyboard:hover{
  border-color: #ccc;
}

.files__list li.cad-dir--common{
  color: skyblue;
}
