*{
  box-sizing: border-box;
}
html, body{
  padding: 0;
  margin: 0;
  overflow: hidden;

}
body{
  width: 100vw;
  height: 100vh;
  color: wheat;
  position: relative;
}

.ui-wrapper{
    background-color: #334;
    color: wheat;
    font-size: 24px;
    font-family: Minecraft !important;
}

label{
  font-size: 24px !important;
}

button.ui-button{

  padding: 5px 10px;
  height: 40px;
  font-size: 24px;
  font-weight: unset;
  font-style: unset;
  z-index: 9999;
  font-family: Minecraft;
}
input[type="text"]{
  color: gray;
  font-family: Minecraft;
}
.ul-group{
  max-height: 400px;
  overflow: auto;
  padding-right: 10px;
}
li{
  font-size: 24px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 5px 20px;
  margin-bottom: 5px;
  position: relative;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  white-space: nowrap;
}
li::before {
  content: '';
  width: 5px;
  height: 100%;
  background: darkslategray;
  position: absolute;
  top: 0px;
  left: 0px;
}

@font-face {
  font-family: Minecraft;
  src: url(fonts/Minecraft.ttf); 
}